body {

	background-image: url("../Images/background.png");
	width: 100%;
	margin:0px;

}

.box {

	background-color:#ffffff;
	width: 100%;

}

.boxName {
	background-color: #4aaaa5;
	color: white;
	width: 230px;
	padding: 5px 15px 5px 5px;
	top:0px;
	margin-left:30px;

}

h1 {

	color:white;
	font-family: Georgia, serif;
	font-size: 35px;
	margin-left: 20px;

}

header {

	background-color: white;
	width: 100%;
	left:0px;
	border-bottom: solid #cccccc 2px;

}

.boxBody {

	margin-left: 30px;
	height: 510px;
	width: 600px;
	border: solid #cccccc 1px;
	position:relative;

}

.boxPort {

	margin-left: 30px;
	height: 840px;
	width: 600px;
	border: solid #cccccc 1px;
	position:relative;

}

.boxNav {

	height: 250px;
	width: 290px;
	background-color: white;
	border: solid #cccccc 1px;
	position: absolute;
	top: 135px;
	left: 669px;

}

h2 {

	font-family: Georgia, serif;
	color: #4aaaa5;
	margin-left:32px;
	margin-bottom:20px;
	margin-right:30px;
	padding-bottom: 15px;
	border-bottom: 2px solid #dddddd;
	font-size: 30px;

}

h3 {

	font-family: Georgia, serif;
	color: #4aaaa5;
	text-align: center;
	margin-left:15px;
	margin-bottom:20px;
	margin-right:15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #dddddd;
	font-size: 25px;

}

h4 {

	color:white;
	text-align: center;
	font-family: Georgia, serif;
	font-size: 20px;
	margin-left: 20px;
	margin-top: 10px;

}

.sideMenu {

	font-family: Helvetica, sans-serif;
	float: right;
	margin-top:-60px;
	margin-right:43px;
	color: grey;
	word-spacing: 10px;

}

#meBench {

	height: 247px;
	width: 326px;
	float: left;
	margin-left:15px;
	margin-right: 15px;

}

p {

	line-height:1.5;
	background-color: #ffffff;
	border-color: #dddddd;
	font-family: Helvetica, sans-serif;
	margin-left: 15px;
	margin-right:20px;
	margin-bottom:3px;

}

.footer {

	background-color: #666666;
	color: white;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	font-family: "Arial", sans-serif;
	width: 100%;
	border-top: 8px solid #4aaaa5;
	bottom: 0px;
	margin-top: 40px;
	position: relative;

}

#contact {

	width: 50px;
	height: 50px;
	margin-left: 20px;

}

a:link {

	font-family: Helvetica, sans-serif;
	color: grey;
	text-decoration: none;

}

a:visited {

	font-family: Helvetica, sans-serif;
	color: grey;
	text-decoration: none;

}

a:hover {

	font-family: Helvetica, sans-serif;
	color: #c8e5e4;
	text-decoration: none;

}

input[type=submit] {

	color:white;
	text-align: center;
	font-family: Helvetica, sans-serif;
	font-size: 20px;
	background-color: #4aaaa5;
	color: white;
	width: 115px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	margin-left:30px;
	border: 0px;

}

input[type=text] {

	width: 540px;
	box-sizing: border-box;
	border: 1px solid #dddddd;    
	height: 35px;
    padding-left: 10px;
    font-size: 15px;
    color: lightgrey;
	background-color: white;
	margin-left: 30px;
	margin-bottom: -10px;

}

.form {

	font-family: helvetica, sans-serif;
	font-size:20px;
	margin-left: 30px;
	margin-bottom: 1px;
	color: grey;

}

textarea {

	font-family: helvetica, sans-serif;
	width: 540px;
	box-sizing: border-box;
	border: 1px solid #dddddd;    
	height: 150px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 15px;
    color: lightgrey;
	background-color: white;
	margin-left: 30px;
	margin-bottom: 20px;

}


#portfolio {

	width: 225px;
	height: 200px;
	margin-left: 32px;
	margin-right: 20px;
	margin-top:35px;

}

.boxProjects {

	background-color: #4aaaa5;
	color: white;
	width: 205px;
	height: 40px;
	padding: 5px 15px 5px 5px;
	z-index: 4;

}

.boxProject1{

	position:absolute;
	top:240px;
	left:32px;

}

.boxProject2 {

	position:absolute;
	top:240px;
	left:313px;

}

.boxProject3 {

	position:absolute;
	top:480px;
	left:32px;

}

.boxProject4 {

	position:absolute;
	top:480px;
	left:313px;

}

.boxProject5 {

	position:absolute;
	top:720px;
	left:32px;

}

@media screen and (max-width: 980px) {

	.boxBody {

		margin-left: 30px;
		margin-right: 60px;
		height: 700px;
		width: 600px;
		border: solid #cccccc 1px;
		position:relative;

	}

	#meBench {

		height: 370px;
		width: 530px;
		float: left;
		margin-left:32px;
		margin-right: 15px;
		margin-bottom: 15px;

	}

	.sideMenu {
		margin-right:50px;

	}

	textarea {
		height:310px;

	}

	.boxPort {

		width: 600px;
		height: 2350px;
		position: relative;
		top: 1px;
		margin-left: 30px;
		margin-bottom:30px;

	}

	#portfolio {

		height: 400px;
		width: 500px;
		float: left;
		margin-left:45px;
		margin-right: 15px;
		margin-bottom: 15px;

	}

	.boxProjects {
		width: 478px;
		margin-left:30px;
	
	}
	.boxProject1{

		position:absolute;
		top:368px;
		left:17px;

	}

	.boxProject2 {

		position:absolute;
		top:828px;
		left:17px;

	}

	.boxProject3 {

		position:absolute;
		top:1288px;
		left:17px;

	}

	.boxProject4 {

		position:absolute;
		top:1735px;
		left:17px;

	}

	.boxProject5 {

		position:absolute;
		top:2190px;
		left:17px;

	}
	


}

@media screen and (max-width: 768px) { 


	.boxName {
		margin-left:54px;
		width: 222px;

	}

	.sideMenu {
		margin-right: 60px;

	}

	.boxNav {
		width: 85%;
		height: 160px;
		position: relative;
		top: 1px;
		left:7.5%;
		text-align: center;
		margin-bottom: 20px;
	}

	.boxBody {
		width: 85%;
		height: 440px;
		position: relative;
		top: 1px;
		left: 3.5%;
		margin-bottom:52px;
		margin-top: 20px;

	}

	#meBench {

		height: 227px;
		width: 310px;
		float: left;
		margin-left:15px;
		margin-right: 15px;
		margin-bottom: 15px;

	}	

	.form {

		margin-left: 17px;
		margin-bottom: 1px;

	}
	input[type=text] {

		width: 93%;
		margin-left: 15px;

	}

	textarea {

		height: 80px;
		width: 93%;
		float: left;
		margin-left:15px;
		margin-right: 15px;
		margin-bottom: 15px;
	}

	.boxPort {

		width: 85%;
		height: 840px;
		position: relative;
		top: 1px;
		left: 3.5%;
		margin-bottom:52px;
		margin-top: 20px;

	}

	#portfolio {

		width: 225px;
		height: 200px;
		margin-left: 45px;
		margin-top:35px;

	}

	.boxProjects {

		background-color: #4aaaa5;
		margin-left:0px;
		color: white;
		width: 205px;
		height: 40px;
		padding: 5px 15px 5px 5px;
		z-index: 4;

	}

	.boxProject1{

		position:absolute;
		top:237px;
		left:45px;

	}

	.boxProject2 {

		position:absolute;
		top:237px;
		left:330px;

	}

	.boxProject3 {

		position:absolute;
		top:475px;
		left:45px;

	}

	.boxProject4 {

		position:absolute;
		top:475px;
		left:330px;

	}

	.boxProject5 {

		position:absolute;
		top:713px;
		left:45px;

	}
@media screen and (max-width: 640px) {

	header {
		height: 150px;

	}

	h1 {
		position:relative;
		left:190px;
		top:-6px;
	
	}

	h2 {
		text-align: center;
		font-size: 25px;

	}


	h4 {

		color:white;
		text-align: center;
		font-family: Georgia, serif;
		font-size: 20px;
		margin-left: 20px;
		margin-top: 10px;

	}

	.boxName {
		width: 100%;
		height: 75px;
		padding-top:1px;
		padding-bottom:2px;
		margin-left:0px;

	}

	.sideMenu {

		margin-top:25px;
		margin-right:21%;
		word-spacing: 40px;
		
	}

	.footer {
		width: 100%;	
		position:relative;
		bottom:0px;
		margin-top: 35px;

	}
	.boxNav {
		width: 85%;
		height: 160px;
		position: relative;
		top: 1px;
		left:7.5%;
		text-align: center;
		margin-bottom: 20px;
	}

	.boxBody {
		width: 85%;
		height: 750px;
		position: relative;
		top: 1px;
		left: 2.5%;
		margin-bottom:30px;

	}

	#portfolio {

		height: 400px;
		width: 500px;
		float: left;
		margin-left:15px;
		margin-right: 15px;
		margin-bottom: 15px;

	}

	#meBench {

		height: 400px;
		width: 500px;
		float: left;
		margin-left:15px;
		margin-right: 15px;
		margin-bottom: 15px;

	}	

	.form {

		margin-left: 17px;
		margin-bottom: 1px;

	}
	input[type=text] {

		width: 93%;
		margin-left: 15px;

	}

	textarea {

		height: 400px;
		width: 93%;
		float: left;
		margin-left:15px;
		margin-right: 15px;
		margin-bottom: 15px;
	}

	.boxPort {

		width: 85%;
		height: 2350px;
		position: relative;
		top: 1px;
		left: 2.5%;
		margin-bottom:30px;

	}

	.boxProjects {
		width: 478px;
	
	}

	.boxProject1{

		position:absolute;
		top:368px;
		left:17px;

	}

	.boxProject2 {

		position:absolute;
		top:828px;
		left:17px;

	}

	.boxProject3 {

		position:absolute;
		top:1288px;
		left:17px;

	}

	.boxProject4 {

		position:absolute;
		top:1735px;
		left:17px;

	}

	.boxProject5 {

		position:absolute;
		top:2190px;
		left:17px;

	}